<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358899836042-7tk8972itkegr9nrndtpsv3t2l6u68mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358899836042-7tk8972itkegr9nrndtpsv3t2l6u68mj</string>
	<key>API_KEY</key>
	<string>AIzaSyCYfLqsPIMXqbIaurKy5Iycra5nBV2XwgI</string>
	<key>GCM_SENDER_ID</key>
	<string>358899836042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoproject</string>
	<key>PROJECT_ID</key>
	<string>todo-project-b95ee</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-project-b95ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358899836042:ios:cdb5faef5c4c501ff17973</string>
</dict>
</plist>